<div class="container">
  <div class="row">
    <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center mb-md-3">
      <div class="row">
        <div class="col-lg-7 col-md-8 mx-auto">
          <!-- form card login -->
          <div class="card rounded shadow shadow-sm">
            <div class="card-header">
              <h3 class="mb-0">Confirmação da solicitação de troca</h3>
            </div>
            <div class="card-body">
              <p>Solicitação de troca do produto <strong>{{carta.nome}}</strong> realizada com sucesso.</p>
<!--              <hr>-->
<!--              <p><strong>Informações para envio do produto: </strong></p>-->
<!--              <ul>-->
<!--                <li><strong>Código da Autorização de Postagem:</strong> 875872913</li>-->
<!--                <li><strong>Emitido em:</strong> 02/03/2020</li>-->
<!--                <li><strong>Data de Validade:</strong> 07/07/2020</li>-->
<!--                <li><strong>Remetente autorizado:</strong> ALEXANDRE CHAVES TONIOLO</li>-->
<!--                <li><strong>Quantidade de objetos:</strong> 1</li>-->
<!--              </ul>-->
<!--              <p>Para utilizá-la, o consumidor deverá se dirigir a uma Agência Própria ou Franqueada dos Correios, levando consigo, obrigatoriamente, o Código de Autorização e o objeto para postagem.</p>-->
<!--              <hr>-->
<!--              <p><strong>Destinatario: </strong></p>-->
<!--              <p>AUTOMAIS MAGAZINE LTDA ME</p>-->
<!--              <p>Rua Doutor Arnaldo de Carvalho 121 , Bonfim</p>-->
<!--              <p>Campinas - SP</p>-->
<!--              <p>CEP: 13070-723</p>-->
<!--              <hr>-->
              <p>Verifique o status do pedido para acompanhar o andamento da troca.</p>
            </div>
            <div class="card-footer">
              <a class="btn btn-secondary float-right" [routerLink]="['../user-orders']">Voltar a tela de pedidos</a>
            </div>
            <!--/card-block-->
          </div>
          <!-- /form card login -->
        </div>
      </div>
      <!--/row-->
    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->
