
<div class="container">
  <h1 class="mt-4 mb-3">Alterar cartão de crédito</h1>
  <hr>
  <div class="row">
    <!-- edit form column -->
    <div class="col-md-9 personal-info">

      <h3>Dados do cartão de credito</h3>

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">Numero do cartão:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="8548856988548858">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Nome e sobrenome:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="LUCAS A R CASCAO">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">data de vencimento:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="29/02">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Código de segurança:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="032">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">CPF do titular do cartão:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="999-999-999-99">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="button" class="btn btn-primary" [routerLink]="['/app-logado/creditcard-list']" value="Alterar">
            <span></span>
            <input type="reset" class="btn btn-default" [routerLink]="['/app-logado/creditcard-list']" value="Cancelar">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>

