
<div class="container">
  <h1 class="mt-4 mb-3">Cadastrar perfil</h1>
  <hr>
  <div class="row">
    <!-- edit form column -->
    <div class="col-md-9 personal-info">

      <h3>Informações pessoais</h3>

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">Primeiro nome:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Ultimo nome:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Estado:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select id="user_time_zone" class="form-control">
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="CE">CE</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Nome de usuário:</label>
          <div class="col-md-8">
            <input class="form-control" type="text" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Senha atual:</label>
          <div class="col-md-8">
            <input class="form-control" type="password" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Senha:</label>
          <div class="col-md-8">
            <input class="form-control" type="password" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirmar senha:</label>
          <div class="col-md-8">
            <input class="form-control" type="password" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="button" class="btn btn-primary" value="Cadastrar">
            <span></span>
            <input type="reset" class="btn btn-default" value="Cancelar">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>

