<div class="container">
  <div class="row">
    <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <!-- form card login -->
          <div class="card rounded shadow shadow-sm">
            <div class="card-header">
              <h3 class="mb-0">Ativar carta</h3>
            </div>
            <div class="card-body">
              <p>Confirmação e inserção da quantidade em estoque para que a carta <strong>{{carta.nome}}</strong> seja ativada.</p>
              <div class="row mb-md-3">
                <div class="col-lg-6 col-md-8 float-left">
                  <label class="card-text" for="quantidade_estoque">Quantidade inserida no estoque: </label>
                </div>
                <div class="col-lg-3 col-md-8 float-left">
                  <input type="number" id="quantidade_estoque" name="quantidade_estoque" class="form-control float-left" min="1" [(ngModel)]="carta.quantidadeDisponivel" [value]="carta?.quantidadeDisponivel">
                </div>
              </div>
              <input type="button" class="btn btn-secondary btn-lg float-left" [routerLink]="['../admin-product-inactive-list']" value="Cancelar">
              <button class="btn btn-success btn-lg float-right" (click)="ativaCarta()">Ativar</button>
            </div>
            <!--/card-block-->
          </div>
          <!-- /form card login -->
        </div>
      </div>
      <!--/row-->
    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->
