<div class="container">
  <div class="container">
    <h1>Editar perfil</h1>
    <hr>
    <div class="row">
      <!-- edit form column -->
      <div class="col-md-9 personal-info">

        <h3>Personal info</h3>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Primeiro nome:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Ultimo nome:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Estado:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="user_time_zone" class="form-control">
                  <option value="AC">AC</option>
                  <option value="AL">AL</option>
                  <option value="AP">AP</option>
                  <option value="AM">AM</option>
                  <option value="BA">BA</option>
                  <option value="CE">CE</option>
                  <option value="DF">DF</option>
                  <option value="CE">CE</option>
                  <option value="GO">GO</option>
                  <option value="MA">MA</option>
                  <option value="MT">MT</option>
                  <option value="MS">MS</option>
                  <option value="MG">MG</option>
                  <option value="PA">PA</option>
                  <option value="PB">PB</option>
                  <option value="PR">PR</option>
                  <option value="PE">PE</option>
                  <option value="PI">PI</option>
                  <option value="RJ">RJ</option>
                  <option value="RN">RN</option>
                  <option value="RS">RS</option>
                  <option value="RO">RO</option>
                  <option value="RR">RR</option>
                  <option value="SC">SC</option>
                  <option value="SP">SP</option>
                  <option value="SE">SE</option>
                  <option value="TO">TO</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="Alterar">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancelar">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr>

<!--  Usar para componente de cadastro-->
<!--  <div class="row">-->
<!--    <div class="col-lg-8 mb-4">-->
<!--      <h3>Send us a Message</h3>-->
<!--      <form name="sentMessage" id="contactForm" novalidate>-->
<!--        <div class="control-group form-group">-->
<!--          <div class="controls">-->
<!--            <label>Full Name:</label>-->
<!--            <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">-->
<!--            <p class="help-block"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="control-group form-group">-->
<!--          <div class="controls">-->
<!--            <label>Phone Number:</label>-->
<!--            <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="control-group form-group">-->
<!--          <div class="controls">-->
<!--            <label>Email Address:</label>-->
<!--            <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="control-group form-group">-->
<!--          <div class="controls">-->
<!--            <label>Message:</label>-->
<!--            <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div id="success"></div>-->
<!--        &lt;!&ndash; For success/fail messages &ndash;&gt;-->
<!--        <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
</div>
