<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Cartões cadastrados</h1>

  <hr>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-5">
      <p class="card-text"><strong>Cartão final:</strong> 5868</p>
      <a class="btn btn-primary" href="#">Selecionar esse cartão</a>
      <a class="btn btn-danger float-right" href="#">Excluir</a>
      <a class="btn btn-warning float-right" href="#">Editar</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-5">
      <p class="card-text"><strong>Cartão final:</strong> 5868</p>
      <a class="btn btn-primary" href="#">Selecionar esse cartão</a>
      <a class="btn btn-danger float-right" href="#">Excluir</a>
      <a class="btn btn-warning float-right" href="#">Editar</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-5">
      <p class="card-text"><strong>Cartão final:</strong> 5868</p>
      <a class="btn btn-primary" href="#">Selecionar esse cartão</a>
      <a class="btn btn-danger float-right" href="#">Excluir</a>
      <a class="btn btn-warning float-right" href="#">Editar</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

</div>
<!-- /.container -->
