<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Cartões cadastrados</h1>

  <hr>

  <a class="btn btn-primary" [routerLink]="['/creditcard-register']">Adcionar novo cartão
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

  <hr>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-5">
      <p class="card-text"><strong>Cartão final:</strong> 5868</p>
      <a class="btn btn-primary" href="#">Selecionar esse cartão</a>
      <a class="btn btn-danger float-right" [routerLink]="['/creditcard-delete']">Excluir</a>
      <a class="btn btn-warning float-right" [routerLink]="['/creditcard-alter']">Editar</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-5">
      <p class="card-text"><strong>Cartão final:</strong> 5868</p>
      <a class="btn btn-primary" href="#">Selecionar esse cartão</a>
      <a class="btn btn-danger float-right" [routerLink]="['/creditcard-delete']">Excluir</a>
      <a class="btn btn-warning float-right" [routerLink]="['/creditcard-alter']">Editar</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-5">
      <p class="card-text"><strong>Cartão final:</strong> 5868</p>
      <a class="btn btn-primary" href="#">Selecionar esse cartão</a>
      <a class="btn btn-danger float-right" [routerLink]="['/creditcard-delete']">Excluir</a>
      <a class="btn btn-warning float-right" [routerLink]="['/creditcard-alter']">Editar</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>


</div>
<!-- /.container -->
