<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Carrinho</h1>

  <hr>
  <div class="row">
    <div class="col-lg-12 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="col-md-3 float-left">
            <a [routerLink]="['/product-detail']">
              <img class="img-fluid rounded mb-3 mb-md-0" [src]="carta.imageUrl" alt="">
            </a>
          </div>
          <div class="col-md-7 float-left">
            <p class="card-text"><strong>Produto:</strong> {{carta.nome}}</p>
            <p class="card-text"><strong>Valor total:</strong> {{carta.value}}</p>
            <p class="card-text"><strong>Quantidade disponível:</strong> {{carta.estoque}}.</p>
            <p class="card-text"><strong>Quantidade:</strong>
              <input class="form-control w-25" type="number" name="quantidade" value="number" [max]="carta.estoque" min="1" value="1">
            </p>
          </div>
          <div class="col-md-2 float-left">
            <a [routerLink]="['/product-market-page']"><button class="btn btn-secondary float-right">Remover do carrinho</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/product-market-page']" class="btn btn-secondary float-left">Continuar comprando</a>
      <a [routerLink]="['/payment-page']" class="btn btn-success float-right">Finalizar compra</a>
    </div>
  </div>

  <hr>

</div>
<!-- /.container -->
