<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Carrinho</h1>

  <hr>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-5">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="/assets/images/card_2.png" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <p class="card-text"><strong>Produto:</strong> Carta Angel of Serenity</p>
      <p class="card-text"><strong>Valor total:</strong> R$ 15,00</p>
      <p class="card-text"><strong>Quantidade disponível:</strong> 5.</p>
      <p class="card-text"><strong>Quantidade:</strong>
        <input class="form-control w-25" type="number" name="quantidade" value="number" [max]="estoque" min="1" value="1">
      </p>
    </div>
    <a [routerLink]="['/product-market-page']"><button class="btn btn-primary">Remover do carrinho</button></a>
  </div>
  <!-- /.row -->

  <hr>

  <div class="row">
    <a [routerLink]="['/address-list']" class="float-left"><button class="btn btn-primary">Finalizar compra</button></a>
  </div>

  <hr>

</div>
<!-- /.container -->
