<div class="container">
  <h1 class="mt-4 mb-3">Angel of Serenity</h1>
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="/assets/images/card_2.png" alt="">
    </div>
    <div class="col-lg-6">
      <p class="card-text">Categoria de jogo: Magic</p>
      <p class="card-text">Categoria de carta: Monstro</p>
      <p class="card-text">Valor: R$ 15,00</p>
      <p class="card-text">Valor de frete: gratuíto para todo o país</p>
      <a class="btn btn-lg btn-secondary btn-block" href="#">Adicionar ao carrinho</a>
    </div>
  </div>
</div>
