<div class="container">
  <h3 class="mt-4 mb-3"><strong>{{carta.nome}}</strong></h3>
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" [src]="carta?.imagemPath" alt="">
    </div>
    <div class="col-lg-6">
      <p class="card-text"><strong>Descrição:</strong> {{carta.descricao}}</p>
      <p class="card-text"><strong>Categoria de jogo:</strong> {{carta?.jogo?.nome}}.</p>
      <p class="card-text"><strong>Categoria de carta:</strong> {{carta?.categoriaCarta?.nome}}.</p>
      <p class="card-text"><strong>Valor:</strong> R$ {{carta?.valorVenda}}.</p>
      <!-- <p class="card-text">Quantidade disponivel: {{carta.estoque}}.</p> -->
      <a class="btn btn-lg btn-secondary btn-block" [routerLink]="['../cart']">Adicionar ao carrinho</a>
    </div>
  </div>
</div>
