<div class="container">
  <h1 class="my-4">Gerenciamento</h1>
  <h2>Gráfico de Vendas de Cartas</h2>
  <hr>
  <div class="row">
    <div class="col-lg-12 col-sm-6 portfolio-item">
      <div class="card h-100">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="col-lg-4 float-left">
                <p>Data de inicio: </p>
              </div>
              <div class="col-lg-6 float-left">
                <input class="form-control" type="date">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="col-lg-3 float-left">
                <p>Data de fim: </p>
              </div>
              <div class="col-lg-6 float-left">
                <input class="form-control" type="date">
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-sm-6">
            <img class="img-fluid" src="assets/images/grafico.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <a class="btn btn-secondary float-left mb-md-3" [routerLink]="['../admin-page']">Voltar</a>
    </div>
  </div>
</div>
