
<!--<header>-->
<!--  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">-->
<!--    <ol class="carousel-indicators">-->
<!--      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
<!--      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
<!--      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
<!--    </ol>-->
<!--    <div class="carousel-inner" role="listbox">-->
<!--      &lt;!&ndash; Slide One - Set the background image for this slide in the line below &ndash;&gt;-->
<!--      <div class="carousel-item active" style="background-image: url('http://placehold.it/1900x1080')">-->
<!--        <div class="carousel-caption d-none d-md-block">-->
<!--          &lt;!&ndash;          <h3>First Slide</h3>&ndash;&gt;-->
<!--          &lt;!&ndash;          <p>This is a description for the first slide.</p>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; Slide Two - Set the background image for this slide in the line below &ndash;&gt;-->
<!--      <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">-->
<!--        <div class="carousel-caption d-none d-md-block">-->
<!--          &lt;!&ndash;          <h3>Second Slide</h3>&ndash;&gt;-->
<!--          &lt;!&ndash;          <p>This is a description for the second slide.</p>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; Slide Three - Set the background image for this slide in the line below &ndash;&gt;-->
<!--      <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">-->
<!--        <div class="carousel-caption d-none d-md-block">-->
<!--          &lt;!&ndash;          <h3>Third Slide</h3>&ndash;&gt;-->
<!--          &lt;!&ndash;          <p>This is a description for the third slide.</p>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">-->
<!--      <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--      <span class="sr-only">Previous</span>-->
<!--    </a>-->
<!--    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">-->
<!--      <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--      <span class="sr-only">Next</span>-->
<!--    </a>-->
<!--  </div>-->
<!--</header>-->

<!-- Page Content -->
<div class="container">
  <hr>
  <div class="row mb-md-3">
    <div class="col-lg-10 offset-1">
      <div class="col-lg-10 float-left">
        <input type="text" class="form-control" placeholder="Pesquisar produto">
      </div>
      <div class="col-lg-2 float-right">
        <input type="button" (click)="filtrar(cartas)" class="btn btn-secondary" value="Pesquisar">
      </div>
    </div>
  </div>
  <!-- /.row -->
  <!-- Portfolio Section -->
  <h2>Cartas a venda: </h2>
  <div class="row">
    <div *ngFor="let carta of cartas"
      class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a [routerLink]="['../product-detail']"><img class="card-img-top" [src]="carta.imageUrl" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">{{carta.nome}}</h4>
          <p class="card-text">Categoria de jogo: {{carta.catJogo}}</p>
          <p class="card-text">Categoria de carta: {{carta.catCarta}}</p>
          <p class="card-text">Valor: R$ {{carta.value}}</p>
          <a class="btn btn-lg btn-secondary btn-block" [routerLink]="['../product-detail']">Visualizar</a>
          <a class="btn btn-lg btn-secondary btn-block" [routerLink]="['../cart']">Comprar</a>
        </div>
      </div>
    </div>
  <hr>
  </div>
</div>
<!-- /.container -->
