<div class="container">
  <h1 class="my-4">Forma de Pagamento</h1>
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Cartão de crédito</h4>
        <div class="card-body">
          <p class="card-text">Cartão selecionado com o final: 8595</p>
          <a class="btn btn-secondary" [routerLink]="['/creditcard-list']">Trocar</a>
        </div>
        <div class="card-footer">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radio" name="defaultExample2" checked>
            <label class="custom-control-label" for="radio">Escolha</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Boleto bancario</h4>
        <div class="card-body">
          <p class="card-text">Boleto bancario.</p>
        </div>
        <div class="card-footer">
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radio2" name="defaultExample2" checked>
            <label class="custom-control-label" for="radio2">Escolha</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h1 class="my-4">Selecione o endereço</h1>
  <div class="row">
    <div class="col-lg-8 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Boleto bancario</h4>
        <div class="card-body">
          <p class="card-text">Boleto bancario.</p>
        </div>
        <div class="card-footer">
          <div class="custom-control custom-radio">
            <a class="btn btn-secondary">Trocar</a>
          </div>
        </div>
      </div>
    </div>

<!--  <div class="col-lg-4 mb-4">-->
<!--    <div class="card h-100">-->
<!--      <h4 class="card-header">Card Title</h4>-->
<!--      <div class="card-body">-->
<!--        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>-->
<!--      </div>-->
<!--      <div class="card-footer">-->
<!--        <a href="#" class="btn btn-primary">Learn More</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-lg-4 mb-4">-->
<!--    <div class="card h-100">-->
<!--      <h4 class="card-header">Card Title</h4>-->
<!--      <div class="card-body">-->
<!--        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>-->
<!--      </div>-->
<!--      <div class="card-footer">-->
<!--        <a href="#" class="btn btn-primary">Learn More</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  </div>
</div>
