
<div class="container">
  <h1 class="mt-4 mb-3">Detalhes do perfil</h1>
  <hr>
  <div class="row">
    <!-- edit form column -->
    <div class="col-md-9 personal-info">

      <h3>Informações pessoais</h3>

      <div class="form-group">
        <label class="col-lg-10 control-label"><strong>Primeiro nome:</strong> Lucas</label>
      </div>
      <div class="form-group">
        <label class="col-lg-10 control-label"><strong>Ultimo nome:</strong> De Almeida Rama Cascão</label>
      </div>
      <div class="form-group">
        <label class="col-lg-10 control-label"><strong>Email:</strong> lucas.cascao@fatec.sp.gov.br</label>
      </div>
      <div class="form-group">
        <label class="col-lg-10 control-label"><strong>Estado:</strong> SP</label>
      </div>
      <div class="form-group">
        <label class="col-md-10 control-label"><strong>Nome de usuário:</strong> lucascascao</label>
      </div>
      <div class="form-group">
        <label class="col-md-10 control-label"></label>
        <div class="col-md-8">
          <input type="button" class="btn btn-primary" [routerLink]="['/user-alter']" value="Alterar">
          <span></span>
          <input type="button" class="btn btn-danger" [routerLink]="['/user-delete']" value="Excluir Conta">
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<!--  Usar para componente de cadastro-->
<!--  <div class="row">-->
<!--    <div class="col-lg-8 mb-4">-->
<!--      <h3>Send us a Message</h3>-->
<!--      <form name="sentMessage" id="contactForm" novalidate>-->
<!--        <div class="control-group form-group">-->
<!--          <div class="controls">-->
<!--            <label>Full Name:</label>-->
<!--            <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">-->
<!--            <p class="help-block"></p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="control-group form-group">-->
<!--          <div class="controls">-->
<!--            <label>Phone Number:</label>-->
<!--            <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="control-group form-group">-->
<!--          <div class="controls">-->
<!--            <label>Email Address:</label>-->
<!--            <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="control-group form-group">-->
<!--          <div class="controls">-->
<!--            <label>Message:</label>-->
<!--            <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div id="success"></div>-->
<!--        &lt;!&ndash; For success/fail messages &ndash;&gt;-->
<!--        <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
