<!-- <header>
 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
   <ol class="carousel-indicators">
     <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
   </ol>
   <div class="carousel-inner" role="listbox">
     <div class="carousel-item active" style="background-image: url('/assets/images/logo2.png')">
     </div>
   </div>
 </div>
</header> -->

<!-- Page Content -->
<div class="container">
  <hr>
  <div class="row mb-md-3">
    <div class="col-lg-10 offset-1">
      <div class="col-lg-10 float-left">
        <!-- <input type="text" (keyup)="filtrar($event.target.value)" class="form-control" placeholder="Pesquisar produto"> -->
        <input type="text" name="valorBusca" [(ngModel)]="valorBuscado" class="form-control" placeholder="Pesquisar produto">
      </div>
      <div class="col-lg-2 float-right">
        <input type="button" (click)="filtrar()" class="btn btn-secondary" value="Pesquisar">
      </div>
    </div>
  </div>
  <!-- /.row -->
  <!-- Portfolio Section -->
  <h2>Cartas a venda: </h2>
  <div class="row" *ngIf="mensagens?.length > 0">
    <div class="col-lg-12 personal-info">
      <p class="alert alert-danger text-center" *ngFor="let mensagem of mensagens">{{mensagem}}</p>
    </div>
  </div>
  <div class="row" *ngIf="cartasFiltradas?.length > 0; else semCartaProcurada">
    <div *ngFor="let carta of cartasFiltradas" class="col-lg-3 col-sm-6 portfolio-item mt-4">
      <div class="card h-100">
        <a (click)="visualizar(carta?.id)" [routerLink]="['/app-logado/product-detail']"><img class="card-img-top" [src]="carta?.imagemPath" alt=""></a>
        <div class="card-body">
          <h6 class="card-title"><strong>{{carta?.nome}}</strong></h6>
          <p class="card-text"><strong>À vista:</strong> {{(carta?.valorCompra + (carta?.valorCompra * (carta?.grupoPrecificacao?.valor / 100))) | currency: 'BRL': true}}</p>
          <a class="btn btn-lg btn-secondary btn-block" (click)="visualizar(carta?.id)" [routerLink]="['../product-detail']">Visualizar</a>
          <button class="btn btn-lg btn-success btn-block" (click)="adicionaItemNoCarrinho(carta)">Comprar</button>
        </div>
      </div>
    </div>
  <hr>
  </div>
  <ng-template #semCartaProcurada>
    <div class="row" >
      <div class="col-lg-3 col-sm-6 portfolio-item mt-4">
        <h4 class="text-center"><strong>Carta não encontrada.</strong></h4>
      </div>
    </div>
  </ng-template>
</div>
<!-- /.container -->
