<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Pedidos</h1>

  <hr>

  <!-- Project One -->
  <div class="row">
    <div class="col-lg-12 col-md-8 mx-auto">
      <div class="card rounded shadow shadow-sm">
        <div class="card-body">
          <div class="col-lg-4 col-md-5 float-left">
            <a [routerLinkActive]="['/product-detail']">
              <img class="img-fluid rounded mb-3 mb-md-3" src="/assets/images/card_2.png" alt="">
            </a>
          </div>
          <div class="col-lg-5 col-md-10 float-left">
            <p class="card-text"><strong>Produto:</strong> Angel of Serenity</p>
            <p class="card-text"><strong>Valor total:</strong> R$ 15,00</p>
            <p class="card-text"><strong>Quantidade:</strong> 1</p>
            <p class="card-text"><strong>Endereço de Entrega:</strong> Rua Passos, nº 876, Cidade Edson, Suzano - SP</p>
            <p class="card-text"><strong>Data da compra:</strong> 10/02/20</p>
            <p class="card-text"><strong>Data estimada para entrega:</strong> 18/02/20</p>
            <p class="card-text"><strong>Status:</strong> Em processamento</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <hr><!-- Project One -->
  <div class="row">
    <div class="col-lg-12 col-md-8 mx-auto">
      <div class="card rounded shadow shadow-sm">
        <div class="card-body">
          <div class="col-lg-4 col-md-5 float-left">
            <a [routerLinkActive]="['/product-detail']">
              <img class="img-fluid rounded mb-3 mb-md-3" src="/assets/images/card_2.png" alt="">
            </a>
          </div>
          <div class="col-lg-5 col-md-10 float-left">
            <p class="card-text"><strong>Produto:</strong> Angel of Serenity</p>
            <p class="card-text"><strong>Valor total:</strong> R$ 15,00</p>
            <p class="card-text"><strong>Quantidade:</strong> 1</p>
            <p class="card-text"><strong>Endereço de Entrega:</strong> Rua Passos, nº 876, Cidade Edson, Suzano - SP</p>
            <p class="card-text"><strong>Data da compra:</strong> 10/02/20</p>
            <p class="card-text"><strong>Data estimada para entrega:</strong> 18/02/20</p>
            <p class="card-text"><strong>Status:</strong> Em transito.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <hr><!-- Project One -->
  <div class="row">
    <div class="col-lg-12 col-md-8 mx-auto">
      <div class="card rounded shadow shadow-sm">
        <div class="card-body">
          <div class="col-lg-4 col-md-5 float-left">
            <a [routerLinkActive]="['/product-detail']">
              <img class="img-fluid rounded mb-3 mb-md-3" src="/assets/images/card_2.png" alt="">
            </a>
          </div>
          <div class="col-lg-5 col-md-10 float-left">
            <p class="card-text"><strong>Produto:</strong> Angel of Serenity</p>
            <p class="card-text"><strong>Valor total:</strong> R$ 15,00</p>
            <p class="card-text"><strong>Quantidade:</strong> 1</p>
            <p class="card-text"><strong>Endereço de Entrega:</strong> Rua Passos, nº 876, Cidade Edson, Suzano - SP</p>
            <p class="card-text"><strong>Data da compra:</strong> 10/02/20</p>
            <p class="card-text"><strong>Data estimada para entrega:</strong> 18/02/20</p>
            <p class="card-text"><strong>Status:</strong> Entregue</p>
            <a class="btn btn-secondary" [routerLink]="['/user-product-trade']">Solicitar troca</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project One -->
  <div class="row">
    <div class="col-lg-12 col-md-8 mx-auto">
      <div class="card rounded shadow shadow-sm">
        <div class="card-body">
          <div class="col-lg-4 col-md-5 float-left">
            <a [routerLinkActive]="['/product-detail']">
              <img class="img-fluid rounded mb-3 mb-md-3" src="/assets/images/card_2.png" alt="">
            </a>
          </div>
          <div class="col-lg-5 col-md-10 float-left">
            <p class="card-text"><strong>Produto:</strong> Angel of Serenity</p>
            <p class="card-text"><strong>Valor total:</strong> R$ 15,00</p>
            <p class="card-text"><strong>Quantidade:</strong> 1</p>
            <p class="card-text"><strong>Endereço de Entrega:</strong> Rua Passos, nº 876, Cidade Edson, Suzano - SP</p>
            <p class="card-text"><strong>Data da compra:</strong> 10/02/20</p>
            <p class="card-text"><strong>Data estimada para entrega:</strong> 18/02/20</p>
            <p class="card-text"><strong>Status:</strong> Em troca.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project One -->
  <div class="row">
    <div class="col-lg-12 col-md-8 mx-auto">
      <div class="card rounded shadow shadow-sm">
        <div class="card-body">
          <div class="col-lg-4 col-md-5 float-left">
            <a [routerLinkActive]="['/product-detail']">
              <img class="img-fluid rounded mb-3 mb-md-3" src="/assets/images/card_2.png" alt="">
            </a>
          </div>
          <div class="col-lg-5 col-md-10 float-left">
            <p class="card-text"><strong>Produto:</strong> Angel of Serenity</p>
            <p class="card-text"><strong>Valor total:</strong> R$ 15,00</p>
            <p class="card-text"><strong>Quantidade:</strong> 1</p>
            <p class="card-text"><strong>Endereço de Entrega:</strong> Rua Passos, nº 876, Cidade Edson, Suzano - SP</p>
            <p class="card-text"><strong>Data da compra:</strong> 10/02/20</p>
            <p class="card-text"><strong>Data estimada para entrega:</strong> 18/02/20</p>
            <p class="card-text"><strong>Status:</strong> Troca autorizada.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <hr>

</div>
<!-- /.container -->
