<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Pedidos</h1>

  <hr>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="/assets/images/card_2.png" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Angel of Serenity</h3>
      <p class="card-text">Categoria de jogo: Magic</p>
      <p class="card-text">Categoria de carta: Monstro</p>
      <p class="card-text">Valor: R$ 15,00</p>
      <p class="card-text">Valor de frete: gratuíto para todo o país</p>
      <a class="btn btn-primary" href="#">Dados do pedido
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="/assets/images/card_2.png" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Angel of Serenity</h3>
      <p class="card-text">Categoria de jogo: Magic</p>
      <p class="card-text">Categoria de carta: Monstro</p>
      <p class="card-text">Valor: R$ 15,00</p>
      <p class="card-text">Valor de frete: gratuíto para todo o país</p>
      <a class="btn btn-primary" href="#">Dados do pedido
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project One -->
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="/assets/images/card_2.png" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Angel of Serenity</h3>
      <p class="card-text">Categoria de jogo: Magic</p>
      <p class="card-text">Categoria de carta: Monstro</p>
      <p class="card-text">Valor: R$ 15,00</p>
      <p class="card-text">Valor de frete: gratuíto para todo o país</p>
      <a class="btn btn-primary" href="#">Dados do pedido
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

</div>
<!-- /.container -->
