<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Cartões cadastrados</h1>
  <hr>
  <a class="btn btn-secondary" [routerLink]="['../creditcard-register']">Adcionar novo cartão
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  <div *ngFor="let cartao of cartoes">
    <hr>
    <!-- Project One -->
    <div class="row">
      <div class="col-md-5">
        <p class="card-text"><strong>Ultimos 4 digitos:</strong> {{cartao?.numero}}</p>
        <p class="card-text"><strong>Bandeira:</strong> {{cartao?.bandeira?.nome}}</p>
        <a class="btn btn-secondary" [routerLink]="['/app-logado/payment-page']">Selecionar esse cartão</a>
        <a class="btn btn-danger float-right" [routerLink]="['/app-logado/creditcard-delete']">Excluir</a>
      </div>
      <hr>
    </div>
    <!-- /.row -->
  </div>
  <hr>
</div>
<!-- /.container -->
