<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a [routerLink]="['/product-market-page']" class="navbar-brand" >Realm of Cards</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCliente" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cliente
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a [routerLink]="['/user-orders']" class="dropdown-item">Pedidos</a>
            <a [routerLink]="['/user-details']" class="dropdown-item">Meu perfil</a>
            <a [routerLink]="['/user-password-alter']" class="dropdown-item">Alterar Senha</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOutros" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Outros
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a [routerLink]="['/']" class="dropdown-item">Login</a>
            <a [routerLink]="['/cart']" class="dropdown-item">Carrinho</a>
            <a [routerLink]="['/order-resume']" class="dropdown-item">Resumo do pedido</a>
            <a [routerLink]="['/payment-page']" class="dropdown-item">Pagamento</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>


