<div class="container">
  <div class="row">
    <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <!-- form card login -->
          <div class="card rounded shadow shadow-sm">
            <div class="card-header">
              <h3 class="mb-0">Deletar Cartão</h3>
            </div>
            <div class="card-body">
              <p>É necessário confirmação para que seja excluido o cartão de crédito o final <strong>{{cartaoSelecionado?.numero}}</strong>,
                pertencente ao usuário <strong>{{pessoa?.nome}} {{pessoa?.sobrenome}}</strong>.</p>
              <input type="reset" class="btn btn-default float-lg-left" [routerLink]="['/app-logado/creditcard-list']" value="Cancelar">
              <button class="btn btn-danger float-lg-right" (click)="deletaCartao()">Excluir</button>
            </div>
            <!--/card-block-->
          </div>
          <!-- /form card login -->
        </div>
      </div>
      <!--/row-->
    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->
