<div class="container">
  <h1 class="mt-4 mb-3">Cadastrar nova carta</h1>
  <hr>
  <div class="row" *ngIf="mensagens?.length > 0">
    <div class="col-lg-12 personal-info">
      <p class="alert alert-danger text-center" *ngFor="let mensagem of mensagens">{{mensagem}}</p>
    </div>
  </div>
  <div class="row">
    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <h3>Informações do produto</h3>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-6 control-label">Nome da carta:</label>
          <div class="col-lg-8">
            <input [(ngModel)]="carta.nome" name="cad_carta_nome" class="form-control" type="text" value="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-6 control-label">Descrição:</label>
          <div class="col-lg-8">
            <textarea name="cad_carta_descricao" [(ngModel)]="carta.descricao" id="story" name="story" rows="5" cols="55"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-6 control-label">Categoria:</label>
          <div class="col-lg-4">
            <div class="ui-select">
              <select  id="user_time_zone" class="form-control" name="cad_carta_categoria" [(ngModel)]="carta.categoriaCarta" >
                <option  [ngValue]="categoria" *ngFor="let categoria of categorias">{{categoria?.nome}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-9">
            <div class="custom-file">
              <label class="custom-file-label" for="customFile">Escolha a imagem da carta</label>
              <input type="file" class="custom-file-input" id="customFile" [(ngModel)]="carta.imagemPath">
            </div>
            <!-- <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile" (change)="onChange($event)">
              <label class="custom-file-label" id="customFileLabel" for="customFile">Choose file</label>
            </div> -->
          </div>
          <!-- <label class="col-lg-6 control-label">Imagem de exposição:</label>
          <div class="col-lg-2">
            <input name="cad_carta_imagem" type="file" [(ngModel)]="carta.imagemPath">
          </div> -->
        </div>
        <div class="form-group">
          <label class="col-lg-6 control-label">Quantidade inicial no estoque:</label>
          <div class="col-lg-2">
            <input name="cad_carta_quantidade" [(ngModel)]="carta.quantidadeDisponivel" class="form-control" type="number" min="1">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-6 control-label">Valor do custo do produto:</label>
          <div class="col-lg-2">
            <input name="cad_carta_valor_compra" [(ngModel)]="carta.valorCompra" class="form-control" type="text" min="1">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-6 control-label">Porcentagem de precificação: </label>
          <div class="col-lg-2">
            <input name="cad_carta_precificacao" [(ngModel)]="carta.precificacao" class="form-control" type="text" min="1">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="button" class="btn btn-success btn-lg float-right" (click)="cadastraCarta()" value="Cadastrar">
            <span></span>
            <input type="reset" class="btn btn-secondary btn-lg float-left" [routerLink]="['/app-logado/admin-page']" value="Cancelar">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>
